# required for initializing commercetools checkout using session API
VITE_CTP_APPLICATION_KEY=[your-application-key, you get it in merchant center when you create payment only checkout application]
VITE_CTP_FULL_APPLICATION_KEY=[your-full-checkout-application-key, you get it in merchant center when you create a full checkout application]
VITE_CTP_PROJECT_KEY=[your-project-key]
VITE_CTP_REGION=[your project region, i.e. europe-west1.gcp]

#Not needed for the Enabler, but needed for the demo to work
VITE_CTP_CLIENT_ID=[your-client-id]
VITE_CTP_CLIENT_SECRET=[your-client-secret]
VITE_CTP_SCOPE=manage_shopping_lists:braintree-dev manage_order_edits:braintree-dev view_standalone_prices:braintree-dev create_anonymous_token:braintree-dev view_categories:braintree-dev view_published_products:braintree-dev manage_orders:braintree-dev view_tax_categories:braintree-dev manage_customers:braintree-dev view_types:braintree-dev view_discount_codes:braintree-dev view_sessions:braintree-dev view_shipping_methods:braintree-dev view_products:braintree-dev view_cart_discounts:braintree-dev view_project_settings:braintree-dev manage_sessions:braintree-dev view_product_selections:braintree-dev
